# CODEOWNERS

# Each section defines who reviews what parts of the repo.

# Syntax: <file or directory> <GitHub usernames or teams>

# Backend code

/backend/ @SolomonSSlee @Louisw123451 @JaredStanbrook

# Frontend code

/frontend/ @J0WEE @youdontknowme11 @JaredStanbrook

# Client agent

/frontend/ @JaredStanbrook @AndrewPercy

# Documentation

/docs/ @JaredStanbrook @J0WEE

# DevOps / CI config

/.github/ @JaredStanbrook
