<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Port Scanner Delta Reporter{% endblock %}</title>

    <!-- Bootstrap & Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
      rel="stylesheet" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/delta.png') }}" />

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <div class="d-flex">
      {% if show_sidebar %} {% include 'partials/sidebar.html' %} {% endif %}

      <!-- MAIN CONTENT AREA -->
      <main class="flex-grow-1 p-4">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for
        category, message in messages %}
        <div
          class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show"
          role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
      </main>
      <div class="position-absolute top-0 end-0 m-4">
        <button id="theme-toggle" class="btn btn-outline-primary btn-sm ms-3">
          <i class="bi bi-moon"></i>
        </button>
      </div>
    </div>

    <!-- JS -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/websocket_client.js') }}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
